html {
  scroll-behavior: smooth;
}
body {
  background-color: #f2f2f2;
  justify-content: center;
}
.page-headline {
  display: inline-block;
  margin-top: 5rem;
  justify-content: center;
  width: 100%;
  animation: ease 1s;
}
.main-title {
  text-align: center;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 0.1em;
}
.sub-title {
  margin-top: 2rem;
  text-align: center;
  color: #797878;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 0.05em;
}

.cat-links {
  margin-top: 5rem;
  text-align: center;
  align-items: center;
}
.cat-links ul {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 10rem;
}

.cat-links li {
  list-style: none;
}
.cat-links li a {
  letter-spacing: 0.1em;
  color: #00693c;
}

.works-sections {
  width: 100%;
  margin-top: 5rem;
  text-align: center;
}
.works-sections h2 {
  font-family: "Varela Round";
  letter-spacing: 00.1em;
}
.work-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  text-decoration: none;
}
.work-item-card {
  text-align: left;
  font-family: "Varela Round";
}
.work-item-card {
  margin-top: 2rem;
  text-align: left;
  font-family: "Varela Round";
  letter-spacing: 00.1em;
  text-decoration: none;
}

.work-item-card h5 {
  color: #000;
}

.work-item-card p {
  text-align: left;
  color: #797878;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 0.05em;
}
.navbar {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #f2f2f2f1;
}
.active {
  color: #0044cb;
}
.nav-link {
  font-family: "Varela Round";
  letter-spacing: 00.1em;
}
